html{
  position: relative;
  height: 100%;
  width:100%;
  background:url('../img/applestore_hk_ifc_large_2x.jpg') no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  background-color: rgb(71, 78, 254);
}

/* layout */

.header{
  height: 70px;
  width: 100%;
}

.svg-container {
  width: 100%;
  height:500px;
  background-color: rgba(52, 55, 83, 0.52);
}

.store_info {
  position: absolute;
  top: 270px;
  background-color: rgba(32, 32, 32, 0.3);
  width: 250px;
  margin: 5px;

}

.guide {
  display: none;
}

.slider {
  float: right;
  margin:5px;
  padding:20px 50px 20px 10px;
  //background-color: rgb(179, 179, 179);
}


.start_screen {
  position:absolute;
  top: 78px;
  width: 99%;
  height:500px;
  background-color: rgba(98, 95, 95, 0.8);
}


/* element style */

.logo {
  width: 30px;
  float: left;

}

h1,h2,h3,p {
  color: white;

}

h1 {
  float:left;
  margin-left: 10px;
  font-size: 1.4em;
  font-weight: 105;

}

h2 {

}

h3 {
  margin: 5px 5px;
  font-size: 1.1em;
  font-weight: 100;
}

p {
  margin: 5px 3px;
  font-size: 0.9em;
  font-weight: 100;
}

#cur_year {
  position: absolute;
  top: 440px;
  right: 50px;
  font: 500 8em "Helvetica Neue";
  opacity: 0.8;
  color: #ddd;
}


#store_img {
  position: absolute;
  top:5px;
  left: 5px;
  width:200px;
  border-radius: 10px;
}

#store_img_bg {

  margin: 5px;
  width:200px;
  height: 133.33px;
  border-radius: 10px;
  background-color: rgba(244, 244, 244, 0.18);
}

#first_play {
  position: absolute;
  top:30%;
  left:43%;
  font-size: 60px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 1);
  border: 0px solid rgb(254, 253, 252);
  color: #35579e;
  padding: 10px 40px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;

}
#first_play:hover {
  color: rgb(245, 89, 48);
}
#first_play:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.8);
}

#start_title {
  position: absolute;
  top:50%;
  left:36%;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
}



/* map style */

path {
  fill: #ffffff;
  stroke: rgba(177, 178, 181, 0.31);
  stroke-width: 0.5;
}

.selected {
  opacity: 0.96;
}

circle {
  fill: rgb(79, 104, 179);
  stroke: rgb(235, 240, 246);
  opacity: 0.6;
}
circle:hover {
  fill:rgb(236, 77, 18);
  opacity: 0.8;
}
